$clr1: #359fbc;
$clr2: #ff4e0c;
$clrg: #959baf;
$clrf: #333333;

$font-gv: "Great Vibes", cursive;
$font-pop: "Poppins", sans-serif;
$font-os: "Open Sans", sans-serif;
$font-ral: "Raleway", sans-serif;
